@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
  background-image: url('../assets/backgroundImage.png');
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.user-button::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  transition: width 0.1s;
  background-color: #10b981;
}

.user-button:hover::after {
  width: 100%;
}